*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Geist", sans-serif;
}
@keyframes marquee-up {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes marquee-down {
  0% {
    transform: translate3d(0, -50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.animate-marquee-up {
  animation: marquee-up 60s linear infinite;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.animate-marquee-down {
  animation: marquee-down 60s linear infinite;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}
